.footer {
    bottom: 0px;
    width: 100%;
    background: var(--lightgrey);
    padding: 100px;
    display: grid;
    grid-template-columns: 20% 20% 40%;
    grid-column-gap: 10%;
    color: var(--black);
}

.partner_img {
    width: 200px;
}

.contact_link {
    color: var(--black);
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: 100;
}

#footer-content {
    padding: 20px 0;
}

#partner-content {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px 0;
    gap: 5px;
    align-items: center;
    justify-items: center;
}